<div id="confirmiyng-email" v-cloak>
  <div class="container">
    <h1 id="text-loading" class="text-center">Verifying your email</h1>
    <div id="text-error" class="confirmation-message hidden">
      <hr />
      <p class="error text-center" style="font-size: 2.5rem;">Incorrect Code</p>
      <!-- <p><a class="btn btn-outline-info" href="/">To my dashboard</a></p> -->
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

<script type="text/javascript">
  function sert() {
    let paths = location.pathname.split("/");
    if (paths.length > 1) {
      let code = paths.pop(),
        id = paths.pop();
      fetch("/api/verification/" + id + "/" + code).then(function (response) {
        return response.json();
      })
        .then(function (myJson) {
          if (myJson.message === "valid") {
            location.href = myJson.url;
          } else {
            document.querySelector("#text-error").classList.remove('hidden');
            document.querySelector("#text-loading").classList.add('hidden');
          }
        });
    }
  }

  setTimeout(sert, 2000);
</script>